fastapi[standard]
sqlalchemy
pymysql
python-dotenv
python-jose[cryptography]
uvicorn
sentence-transformers
numpy
faiss-cpu
pandas
chromadb
langdetect
langchain-text-splitters
langchain-huggingface
transformers
torch
pymupdf
easyocr
langchain-ollama
