fastapi[standard]
sqlalchemy
pymysql
python-dotenv
python-jose[cryptography]
passlib[argon2]
argon2-cffi
uvicorn
pandas
openpyxl
faker
sentence-transformers
numpy
faiss-cpu
pandas
chromadb
langdetect
langchain-text-splitters
langchain-huggingface
transformers
torch
pymupdf
easyocr
langchain-ollama
